openapi: 3.0.1
info:
  title: TrustSource Rest API
  description: >-
    This is the documentation of the TrustSource REST API.<br>
    Part of API calls require the header parameter <code>x-api-key</code>; an API key may be obtained from your company Scanners & API settings.<br><br>
    <b>Naming convention:</b> Path parameters use snake_case (e.g., <code>project_id</code>), query parameters use camelCase (e.g., <code>projectId</code>) for historical reasons.
  version: '2'
tags:
  - name: Account
    description: Authentication and authorization status
  - name: Releases
    description: Published compliance release documents (SBOM, Notice, CSAF/VEX)
  - name: Risks
    description: Risk management, assessment, and task tracking
  - name: Check
    description: License and component compliance checks
  - name: Approval
    description: Compliance approval workflow
  - name: Company
    description: Company FOSS compliance settings
  - name: Projects
    description: Project management and SBOM generation
  - name: Modules
    description: Module management, settings, and parts lists
  - name: Products
    description: Product management — create, read, update, and retire
  - name: Users
    description: User activity and API usage statistics
  - name: Scans
    description: Scan submission, processing, and results
  - name: Tests
    description: SARIF test result imports
  - name: Reports
    description: Compliance, vulnerability, and viability reports
  - name: DeepScan
    description: Repository deep scanning for license and security analysis
  - name: Vulnerabilities
    description: CVE/CWE vulnerability lookup and search
  - name: PSIRT
    description: Product Security Incident Response (CSAF advisories)
  - name: CSAF
    description: CSAF (Common Security Advisory Framework) advisory document store
  - name: Threat Modeling
    description: Per-project OTM / OWASP Threat Dragon threat-model documents
servers:
  - url: https://api.trustsource.io/v2
paths:
  /account/authorization:
    get:
      operationId: getAccountAuthorization
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/authorization"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Account
      summary: Get authorization status
      description: Returns the current authorization status for the provided API key.
      responses:
        '200':
          description: Authorization is ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      operationId: optionsAccountAuthorization
      x-swagger-router-ignore: true
      tags:
        - Account
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/releases/{release_key}/sbom:
    get:
      operationId: getComplianceReleasesSbom
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/releases/{release_key}/sbom"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.path.release_key: "method.request.path.release_key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Releases
      summary: Get release SBOM
      description: Returns the full Software Bill of Materials for a published release, including component list and cryptographic signatures.
      parameters:
        - name: release_key
          in: path
          description: Published release key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                title: public-SBOM
                type: object
                required:
                  - components
                  - signatures
                properties:
                  components:
                    type: array
                    items:
                      $ref: '#/components/schemas/Component'
                  signatures:
                    type: array
                    items:
                      type: object
                      description: Cryptographic signature for content verification
                      additionalProperties: true
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      operationId: optionsComplianceReleasesSbom
      parameters:
        - name: release_key
          in: path
          description: Published release key
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Releases
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/releases/{release_key}/notice:
    get:
      operationId: getComplianceReleasesNotice
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/releases/{release_key}/notice"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.path.release_key: "method.request.path.release_key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Releases
      summary: Get release Notice
      description: Returns the license notice for a published release, including per-license component groupings and cryptographic signatures.
      parameters:
        - name: release_key
          in: path
          description: Published release key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                title: public-Notice
                type: object
                required:
                  - licenses
                  - signatures
                properties:
                  licenses:
                    type: array
                    items:
                      title: License
                      type: object
                      required:
                        - key
                        - components
                      properties:
                        key:
                          type: string
                        name:
                          type: string
                        disclaimer:
                          type: string
                        text:
                          type: string
                        url:
                          type: string
                        editorial:
                          type: string
                        components:
                          type: array
                          items:
                            title: Component
                            type: object
                            properties:
                              name:
                                type: string
                              key:
                                type: string
                              version:
                                type: string
                              changesUrl:
                                type: string
                              changedSourcesUrl:
                                type: string
                              sourcesUrl:
                                type: string
                              copyright:
                                type: string
                              description:
                                type: string
                              urls:
                                type: object
                                description: Component-related URLs
                                properties:
                                  homepage:
                                    type: string
                                  repository:
                                    type: string
                                additionalProperties: true
                  signatures:
                    type: array
                    items:
                      type: object
                      description: Cryptographic signature for content verification
                      additionalProperties: true
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      operationId: optionsComplianceReleasesNotice
      parameters:
        - name: release_key
          in: path
          description: Published release key
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Releases
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/releases/{release_key}/csaf:
    get:
      operationId: getComplianceReleasesCsaf
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/releases/{release_key}/csaf"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.path.release_key: "method.request.path.release_key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Releases
      summary: Get release CSAF/VEX
      description: Returns the CSAF/VEX advisory for a published release, including vulnerability details, product tree, and cryptographic signatures.
      parameters:
        - name: release_key
          in: path
          description: Published release key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                title: public-CSAF_VEX
                type: object
                required:
                  - vulnerabilities
                  - signatures
                properties:
                  document:
                    type: object
                    description: CSAF 2.0 document metadata (see OASIS CSAF standard)
                    additionalProperties: true
                  product_tree:
                    type: object
                    description: CSAF 2.0 document metadata (see OASIS CSAF standard)
                    additionalProperties: true
                  vulnerabilities:
                    type: array
                    items:
                      type: object
                      description: CSAF 2.0 vulnerability entry (see OASIS CSAF standard)
                      additionalProperties: true
                  signatures:
                    type: array
                    items:
                      type: object
                      description: Cryptographic signature for content verification
                      additionalProperties: true
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      operationId: optionsComplianceReleasesCsaf
      parameters:
        - name: release_key
          in: path
          description: Published release key
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Releases
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/releases/{release_key}/csaf-changes:
    get:
      operationId: getComplianceReleasesCsafChanges
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/releases/{release_key}/csaf-changes"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.path.release_key: "method.request.path.release_key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Releases
      summary: Get release CSAF/VEX changes
      description: Returns the latest changes to the CSAF/VEX advisory for a published release.
      parameters:
        - name: release_key
          in: path
          description: Published release key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                title: public-CSAF_VEX_CHANGES
                type: object
                required:
                  - vulnerabilities
                  - signatures
                properties:
                  document:
                    type: object
                    description: CSAF 2.0 document metadata (see OASIS CSAF standard)
                    additionalProperties: true
                  product_tree:
                    type: object
                    description: CSAF 2.0 document metadata (see OASIS CSAF standard)
                    additionalProperties: true
                  vulnerabilities:
                    type: array
                    items:
                      type: object
                      description: CSAF 2.0 vulnerability entry (see OASIS CSAF standard)
                      additionalProperties: true
                  signatures:
                    type: array
                    items:
                      type: object
                      description: Cryptographic signature for content verification
                      additionalProperties: true
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      operationId: optionsComplianceReleasesCsafChanges
      parameters:
        - name: release_key
          in: path
          description: Published release key
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Releases
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/csaf/{csaf_key}/documents:
    get:
      operationId: getComplianceCsafDocuments
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/csaf/{csaf_key}/documents"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.path.csaf_key: "method.request.path.csaf_key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - CSAF
      summary: List accessible CSAF documents
      description: Returns metadata of the company's published CSAF documents whose TLP level is permitted by the supplied feed key.
      parameters:
        - name: csaf_key
          in: path
          description: CSAF feed access key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      operationId: optionsComplianceCsafDocuments
      parameters:
        - name: csaf_key
          in: path
          description: CSAF feed access key
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - CSAF
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/csaf/{csaf_key}/documents/{document_id}:
    get:
      operationId: getComplianceCsafDocument
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/csaf/{csaf_key}/documents/{document_id}"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.path.csaf_key: "method.request.path.csaf_key"
          integration.request.path.document_id: "method.request.path.document_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - CSAF
      summary: Get a CSAF document
      description: Returns the full CSAF document if its TLP level is permitted by the supplied feed key.
      parameters:
        - name: csaf_key
          in: path
          description: CSAF feed access key
          required: true
          schema:
            type: string
        - name: document_id
          in: path
          description: CSAF document identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      operationId: optionsComplianceCsafDocument
      parameters:
        - name: csaf_key
          in: path
          description: CSAF feed access key
          required: true
          schema:
            type: string
        - name: document_id
          in: path
          description: CSAF document identifier
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - CSAF
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/check/license:
    post:
      operationId: postComplianceCheckLicense
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "POST"
        uri: "http://${stageVariables.url}/api/v1/check_license"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Check
      summary: Check license compliance
      description: Evaluates whether a license is compliant in the context of a given project and module. Typically called by IDE plugins and build tool integrations.
      requestBody:
        description: Check request params
        content:
          application/json:
            schema:
              title: RequestBodyCheckLicense
              required:
                - licenses
                - moduleName
                - projectName
              type: object
              properties:
                projectName:
                  type: string
                moduleName:
                  type: string
                licenses:
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: Check request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic200'
        '400':
          description: Bad Request, data validation not successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
    options:
      operationId: optionsComplianceCheckLicense
      x-swagger-router-ignore: true
      tags:
        - Check
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/check/component:
    post:
      operationId: postComplianceCheckComponent
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "POST"
        uri: "http://${stageVariables.url}/api/v1/check_component"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Check
      summary: Check component compliance
      description: Evaluates whether a component is compliant in the context of a given project and module, including license and vulnerability analysis. Typically called by IDE plugins and build tool integrations.
      requestBody:
        description: Check request params
        content:
          application/json:
            schema:
              title: RequestBodyCheckComponent
              required:
                - components
                - moduleName
                - projectName
              type: object
              properties:
                projectName:
                  type: string
                moduleName:
                  type: string
                components:
                  type: array
                  items:
                    title: Component
                    type: object
                    properties:
                      key:
                        type: string
                      version:
                        type: string
        required: true
      responses:
        '200':
          description: Check request was successful
          content:
            application/json:
              schema:
                title: Check results
                type: object
                required:
                  - warnings
                  - data
                properties:
                  ok:
                    type: boolean
                  warnings:
                    type: array
                    items:
                      title: Warning
                      type: object
                      properties:
                        component:
                          type: string
                        version:
                          type: string
                        status:
                          type: string
                          example: component_not_found
                  data:
                    type: array
                    items:
                      title: Result
                      type: object
                      required:
                        - component
                        - vulnerabilities
                      properties:
                        component:
                          title: Component
                          type: object
                          properties:
                            key:
                              type: string
                            name:
                              type: string
                            version:
                              type: string
                        license:
                          type: string
                        changed:
                          $ref: '#/components/schemas/LegalAnalysis'
                        not_changed:
                          $ref: '#/components/schemas/LegalAnalysis'
                        vulnerabilities:
                          type: array
                          items:
                            title: Vulnerability
                            type: object
                            properties:
                              name:
                                type: string
                              status:
                                type: string
                                example: violations
                              cvssColor:
                                type: string
                                example: orange
                              score:
                                type: string
                              link:
                                type: string
        '400':
          description: Bad Request, data validation not successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
    options:
      operationId: optionsComplianceCheckComponent
      x-swagger-router-ignore: true
      tags:
        - Check
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/approvals:
    post:
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "POST"
        uri: "http://${stageVariables.url}/api/v1/approval/initiate"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Approval
      summary: Create approval request
      description: Initiates a new compliance approval request based on a scan result.
      requestBody:
        content:
          application/json:
            schema:
              title: RequestBodyCreateApproval
              required:
                - name
                - scanId
              type: object
              properties:
                scanId:
                  type: string
                name:
                  type: string
                version:
                  type: string
                description:
                  type: string
                draft:
                  type: boolean
        required: true
      responses:
        '201':
          description: Created, request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic200'
        '400':
          description: Bad Request, data validation not successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
    options:
      x-swagger-router-ignore: true
      tags:
        - Approval
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/approvals/{approval_id}:
    get:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/approval/{approval_id}"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.approval_id: "method.request.path.approval_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Approval
      summary: Get approval details
      description: Returns full details of an approval request, including status, initiator, binary links, and associated notice/SouP files.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: approval_id
          in: path
          description: ID of the approval
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                title: Approval
                type: object
                required:
                  - binaryLinks
                properties:
                  _id:
                    type: string
                    description: the approval id
                  url:
                    type: string
                  name:
                    type: string
                  created:
                    type: string
                    format: date-time
                  initiatorName:
                    type: string
                  draft:
                    type: boolean
                  binaryLinks:
                    type: array
                    items:
                      $ref: '#/components/schemas/BinaryLink'
                  noticeFile:
                    type: object
                    description: Notice file metadata
                    properties:
                      name:
                        type: string
                      url:
                        type: string
                      type:
                        type: string
                  soupFile:
                    type: object
                    description: SouP file metadata
                    properties:
                      name:
                        type: string
                      url:
                        type: string
                      type:
                        type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      parameters:
        - name: approval_id
          in: path
          description: ID of the approval
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Approval
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/approvals/{approval_id}/approve:
    post:
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: approval_id
          in: path
          description: ID of the approval
          required: true
          schema:
            type: string
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "POST"
        uri: "http://${stageVariables.url}/api/v1/approval/{approval_id}/approve"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.approval_id: "method.request.path.approval_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Approval
      summary: Approve approval request
      description: Approves a pending compliance approval request.
      responses:
        '202':
          description: Created, request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic200'
        '400':
          description: Bad Request, data validation not successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
    options:
      parameters:
        - name: approval_id
          in: path
          description: ID of the approval
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Approval
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/approvals/{approval_id}/reject:
    post:
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: approval_id
          in: path
          description: ID of the approval
          required: true
          schema:
            type: string
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "POST"
        uri: "http://${stageVariables.url}/api/v1/approval/{approval_id}/reject"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.approval_id: "method.request.path.approval_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Approval
      summary: Reject approval request
      description: Rejects a pending compliance approval request.
      requestBody:
        content:
          application/json:
            schema:
              title: RequestBodyRejectApproval
              required:
                - reason
              type: object
              properties:
                reason:
                  type: string
        required: true
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generic200'
        '400':
          description: Bad Request, data validation not successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
    options:
      parameters:
        - name: approval_id
          in: path
          description: ID of the approval
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Approval
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /compliance/company/foss:
    get:
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/company-foss"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Company
      summary: Get company FOSS liaison
      description: Returns the FOSS liaison contact and compliance settings for the company.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                title: FOSS Liaison
                type: object
                properties:
                  company:
                    type: string
                  name:
                    type: string
                  email:
                    type: string
                  phone:
                    type: string
                  zip:
                    type: string
                  address:
                    type: string
                  country:
                    type: string
                  url:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      x-swagger-router-ignore: true
      tags:
        - Company
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /core/projects:
    get:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/projects"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Projects
      summary: List projects
      description: >-
        Returns all projects belonging to the company associated with the API key,
        paged with 100 projects per page. The list contains a reduced representation
        (id, name, description) — use `GET /core/projects/{project_id}` for settings.
        Requires an API key with `manager`, `compliance_manager`, `portfolio_manager`
        or `company_security_manager` scope.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Page number to be fetched, starting from 1
          schema:
            type: string
        - name: tags
          in: query
          description: Comma separated list of project tags to filter by
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                title: ArrayOfProjects
                type: array
                items:
                  $ref: '#/components/schemas/ProjectShort'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "POST"
        uri: "http://${stageVariables.url}/api/v1/projects"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Projects
      summary: Create project
      description: >-
        Creates a new project in the company associated with the API key. All project
        settings can be provided at creation time — see the request schema.
        Requires an API key with `developer`, `manager` or `portfolio_manager` scope.
      requestBody:
        description: Project object — `name` is required, all other settings optional
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBodyCreateProject'
        required: true
      responses:
        '201':
          description: Create, request was successful
          content:
            application/json:
              schema:
                title: ProjectID
                type: object
                properties:
                  projectId:
                    type: string
        '400':
          description: Bad Request, data validation not successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
    options:
      x-swagger-router-ignore: true
      tags:
        - Projects
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /core/projects/{project_id}:
    get:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/projects/{project_id}"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.project_id: "method.request.path.project_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Projects
      summary: Get project details
      description: >-
        Returns project details including all project settings (license config, component
        config, CVE config, obligation config, requirements, etc.). Use this to read
        current settings before updating them via POST. Integration settings
        (`jira`, `tfs`, `github`) are never returned — they contain credentials.
        Requires an API key with `manager`, `compliance_manager`, `portfolio_manager`
        or `company_security_manager` scope.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: project_id
          in: path
          description: ID of the project to read
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >-
            Project details including all project settings (integration
            credentials excluded)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSettings'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "POST"
        uri: "http://${stageVariables.url}/api/v1/projects/{project_id}"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.project_id: "method.request.path.project_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Projects
      summary: Update project
      description: >-
        Updates project settings such as license config, component config, CVE config,
        obligation config, legal rules config and requirements.
        Only the fields present in the request body are modified, but each provided
        top-level field (e.g. `licenseConfig`) replaces the stored value as a whole —
        always send the complete object for any config you change. `companyId` is
        derived from the API key and cannot be set; fields not defined in the project
        schema are silently dropped.
        Requires an API key with `developer`, `manager` or `portfolio_manager` scope.
        On success the full updated project document is returned.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: project_id
          in: path
          description: ID of the project to update
          required: true
          schema:
            type: string
      requestBody:
        description: Project settings object — see schema for all supported settings
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBodyUpdateProject'
        required: true
      responses:
        '200':
          description: Update successful, returns the full updated project document
          content:
            application/json:
              schema:
                title: UpdatedProject
                type: object
                description: The complete project document after the update
                additionalProperties: true
        '400':
          description: Bad Request, data validation not successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
    delete:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "DELETE"
        uri: "http://${stageVariables.url}/api/v1/projects/{project_id}"
        responses:
          default:
            statusCode: "204"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.project_id: "method.request.path.project_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Projects
      summary: Delete project
      description: >-
        Permanently deletes a project. Fails with 400 if the project still has modules,
        unless `force=true` is passed — then all associated modules are deleted as well.
        Requires an API key with `manager`, `account_admin`, `enterprise_admin`
        or `portfolio_manager` scope.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: project_id
          in: path
          description: ID of the project to read
          required: true
          schema:
            type: string
        - name: force
          in: query
          description: Optional param to enforce remove with all modules
          required: false
          schema:
            type: boolean
      responses:
        '204':
          description: Delete, request was successful
        '400':
          description: Bad Request, data validation not successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
    options:
      parameters:
        - name: project_id
          in: path
          description: ID of the project to read
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Projects
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /core/projects/{project_id}/partsList:
    get:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/projects/{project_id}/partsList"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.project_id: "method.request.path.project_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Projects
      summary: Get project parts list
      description: Returns the parts list for a project, including all dependent components with their status and license information.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: project_id
          in: path
          description: ID of the project to read
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                title: Project partsList
                type: object
                required:
                  - name
                  - components
                properties:
                  _id:
                    type: string
                    description: the project id
                  name:
                    type: string
                  description:
                    type: string
                  components:
                    type: array
                    items:
                      $ref: '#/components/schemas/ComponentDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      parameters:
        - name: project_id
          in: path
          description: ID of the project to read
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Projects
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /core/projects/{project_id}/sbom:
    get:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/projects/{project_id}/sbom"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.project_id: "method.request.path.project_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Projects
      summary: Get project SBOM
      description: Generates the Software Bill of Materials for a project in tree and list format.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: project_id
          in: path
          description: ID of the project to read
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SBOM'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      parameters:
        - name: project_id
          in: path
          description: ID of the project to read
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Projects
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /core/projects/{project_id}/aibom:
    get:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/projects/{project_id}/aibom"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.project_id: "method.request.path.project_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Projects
      summary: Get project AIBOM
      description: >-
        Returns the AI/ML Bill of Materials for a whole project as a CycloneDX 1.7
        document, aggregating the machine-learning-model assets of all its modules.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: project_id
          in: path
          description: ID of the project to read
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CyclonedxDocument'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      parameters:
        - name: project_id
          in: path
          description: ID of the project
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Projects
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /core/projects/{project_id}/cbom:
    get:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/projects/{project_id}/cbom"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.project_id: "method.request.path.project_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Projects
      summary: Get project CBOM
      description: >-
        Returns the Cryptography Bill of Materials for a whole project as a
        CycloneDX 1.7 document, aggregating the cryptographic assets of all its
        modules.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: project_id
          in: path
          description: ID of the project to read
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CyclonedxDocument'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      parameters:
        - name: project_id
          in: path
          description: ID of the project
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Projects
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /core/projects/{project_id}/environmental-context:
    get:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/projects/{project_id}/environmental-context"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.project_id: "method.request.path.project_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Projects
      summary: Get project environmental (iCVSS) context
      description: >-
        Returns one environmental-context entry per module in the project: the
        module's CR/IR/AR requirements, its CVSS v2/v3/v4 environmental vector
        strings, and the best-effort Modified Attack Vector (MAV) parsed from the
        v4 (then v3) vector. Read-only; company-scoped by the API key.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: project_id
          in: path
          description: ID of the project whose modules to read
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Page number to be fetched, starting from 1 (page size 100, ordered by module name)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                title: ArrayOfEnvironmentalContext
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentalContext'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: API-key scope is limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      parameters:
        - name: project_id
          in: path
          description: ID of the project
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Projects
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /core/projects/{project_id}/architecture:
    get:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/projects/{project_id}/architecture"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.project_id: "method.request.path.project_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Projects
      summary: Get project Application goals
      description: >-
        Returns the content previously uploaded/posted to populate the project's
        Application goals field (see POST below). Returns an empty string if
        nothing has been uploaded yet — never 404 for "no content".
        Requires an API key with `manager`, `compliance_manager`, `portfolio_manager`
        or `company_security_manager` scope.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: project_id
          in: path
          description: ID of the project to read
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                title: ArchitectureContent
                type: object
                properties:
                  content:
                    type: string
                    description: The stored Application goals content, or an empty string if none has been uploaded yet.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "POST"
        uri: "http://${stageVariables.url}/api/v1/projects/{project_id}/architecture"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.path.project_id: "method.request.path.project_id"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Projects
      summary: Set project Application goals from markdown content
      description: >-
        Uploads/sets markdown content (e.g. the contents of an architecture.md
        file) to populate the project's Application goals field. Content is
        screened for prompt-injection/jailbreak attempts before it is stored;
        content that fails screening is rejected with a 400 and is not stored.
        Capped at 100 KB.
        Requires an API key with `developer`, `manager` or `portfolio_manager` scope.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: project_id
          in: path
          description: ID of the project to update
          required: true
          schema:
            type: string
      requestBody:
        description: Markdown content to store as the project's Application goals
        content:
          application/json:
            schema:
              title: RequestBodyArchitecture
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  description: Markdown content, up to 100 KB.
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                title: ArchitectureUpdated
                type: object
                properties:
                  projectId:
                    type: string
                  content:
                    type: string
        '400':
          description: Bad Request — invalid content, content too large, or content rejected by the screening pipeline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
    options:
      parameters:
        - name: project_id
          in: path
          description: ID of the project
          required: true
          schema:
            type: string
      x-swagger-router-ignore: true
      tags:
        - Projects
      responses:
        "200":
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'*'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,x-api-key,x-apikey,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: '{"statusCode": 200}'
        type: "mock"
        passthroughBehavior: "NEVER"
  /core/modules:
    get:
      security:
        - api_key: [ ]
      x-amazon-apigateway-integration:
        type: "http_proxy"
        connectionId: "${stageVariables.vpcLinkId}"
        connectionType: "VPC_LINK"
        httpMethod: "GET"
        uri: "http://${stageVariables.url}/api/v1/modules"
        responses:
          default:
            statusCode: "200"
        requestParameters:
          integration.request.header.X-APIKEY: "method.request.header.x-api-key"
          integration.request.header.version: "'2'"
        passthroughBehavior: "when_no_match"
      tags:
        - Modules
      summary: List modules
      description: >-
        Returns all modules belonging to the company associated with the API key,
        paged with 100 modules per page.
        Requires an API key with `manager`, `compliance_manager`, `portfolio_manager`
        or `company_security_manager` scope.
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Page number to be fetched, starting from 1
          schema:
            type: string
        - name: tags
          in: query
          description: Comma separated list of module tags to filter by
          schema:
            type: string
        - name: projectId
          in: query
          description: projectId to limit selection of modules
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                title: ArrayOfModules
                type: array
                items:
                  title: ModuleListEntry
                  type: object
                  description: >-
                    Reduced module representation — the list endpoint returns only id, name
                    and description. Use `GET /core/modules/{module_id}` to retrieve status,
                    project assignment and the latest analysis results.
                  properties:
                    _id:
                      type: string
                      description: Module ID, use it as `module_id` in the detail endpoints
                      example: vewfCuCmkpqXyuDrX
                    name:
                      type: string
                      example: payment-service
                    description:
                      type: string
                      example: Backend payment processing service
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    options:
      x-swagger-router-ignore: true
      tags:
[...]
